<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="inputController.js"></script>
<script src="inputService.js"></script>
<script src="inputModule.js"></script>
<body>

<div ng-app="inputModule" ng-controller="inputController">
	<form name="headerForm">
		<div class="row" ng-repeat="row in inputRows">
	 		<input type="text" default-value="cell.value" ng-model="cell.value" ng-repeat="cell in row">
	 	</div>
 		<button ng-click="addColumn()">add column</button>
 		<button ng-click="removeColumn()">remove column</button>
 		<button ng-click="addRow()">add row</button>
 		<button ng-click="removeRow()">remove row</button>
 		<button ng-click="submitHeaders()">Generate Table</button>
 	</form>
</div>

</body>
</html>