<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="inputController.js"></script>
<script src="inputService.js"></script>
<script src="inputModule.js"></script>
<body>

<div ng-app="inputModule" ng-controller="inputController">
	<form name="headerForm">
		<div class="row" ng-repeat="row in inputColumns">
	 		<input type="text" default-value="cell.value" ng-model="cell.value" ng-repeat="cell in row">
	 	</div>
	 		<button ng-click="addColumn()">add column</button>
 	<button ng-click="submitHeaders()">Submit Table Headers</button>
 	</form>
</div>

</body>
</html>